{% extends 'pages/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-5">Bienvenido al Sistema de Residencia</h1>

        <div class="row">
            <!-- Tarjeta para listar Residentes -->
            <div class="col-md-4">
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        Residentes
                    </div>
                    <div class="card-body">
                        <p class="card-text">Ver todos los residentes registrados en el sistema.</p>
                        <a href="{% url 'residentes' %}" class="btn btn-light">Ver Residentes</a>
                    </div>
                </div>
            </div>

            <!-- Tarjeta para listar Empleados -->
            <div class="col-md-4">
                <div class="card bg-success text-white">
                    <div class="card-header">
                        Empleados
                    </div>
                    <div class="card-body">
                        <p class="card-text">Accede a la información de los empleados que trabajan en la residencia.</p>
                        <a href="{% url 'empleados' %}" class="btn btn-light">Ver Empleados</a>
                    </div>
                </div>
            </div>

            <!-- Tarjeta para Incidencias -->
            <div class="col-md-4">
                <div class="card bg-warning text-white">
                    <div class="card-header">
                        Incidencias
                    </div>
                    <div class="card-body">
                        <p class="card-text">Revisa y gestiona las incidencias reportadas por los residentes.</p>
                        <a href="" class="btn btn-light">Ver Incidencias</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de Alerta o Información adicional -->
        <div class="alert alert-info my-5" role="alert">
            Sistema de Gestión de Residencia, donde podrás gestionar todos los aspectos relacionados con los residentes, empleados, cuidados, medicamentos y más.
        </div>
    </div>
{% endblock %}
