<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <ul>
        {% for empleado in empleados %}
            <li>
                <a href="{% url 'detalle_empleado' empleado.id %}">
                    {{ empleado.nombre }} {{ empleado.ap_paterno }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Volver al inicio</a>
</body>
</html>
