{% extends 'pages/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Lista de Empleados</h1>

    <!-- Botón para redirigir a la creación de nuevos empleados -->
    <div class="text-center mb-4">
        <a href="" class="btn btn-success">Crear Nuevo Empleado</a>
    </div>

    <ul class="list-group">
        {% for empleado in empleados %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="{% url 'detalle_empleado' empleado.id %}" class="text-decoration-none">
                        {{ empleado.nombre }} {{ empleado.ap_paterno }}
                    </a>
                </div>
                <div>
                    <a href="{% url 'detalle_empleado' empleado.id %}" class="btn btn-info btn-sm">Ver detalles</a>
                    <!-- Botón de eliminación -->
                    <form method="POST" action="" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="mt-4 text-center">
        <a href="{% url 'index' %}" class="btn btn-secondary">Volver al inicio</a>
    </div>
</div>
{% endblock %}
